*{
    user-select: none;
    outline:none;

}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 100vh;
}

.settings {
    max-width: 240px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 255, 255);
  }

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




